body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* not sure about font choice yet. Actual page uses:
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  */
   background: linear-gradient(135deg, #40434b 0%, #1c1f25 40%, #050607 100%);
  color: #ffffff;
  line-height: 1.5;
}

body > button {
  cursor: pointer;
  border: none;
  font-family:
    "Lucida Grande",
    "Lucida Sans Unicode",
    "Lucida Sans",
    Geneva,
    Verdana,
    sans-serif;
}

.spacer70 {
  height: 70px;
}