/*
main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
} */

main {
    width: 100%;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px; /* review this to check if saparates image&text too much */
}

.hero > .main-section-img > .main-img > img {
    width: 94%;
    height: auto;
    padding-left: 50px;
}

.hero > .main-section-img > .img-title > p {
    padding-left: 50px;
    font-size: 34px;
    font-weight: 500;
    margin: 0;
}

.bluetext {
    color: #67d7f8;
    font-weight: 600; 
}
  

/* .hero > .main-section-text {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
} */

.hero > .main-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.hero > .main-section-text > .section-text {
    font-size: 40px;
    margin: 0px;
    padding: 0px;
   font-weight: 100;
}

.hero > .main-section-text > .section-text > p > strong {
    font-weight: 800;
}

.hero > .main-section-text > .main-section-buttons > .bt-sign-up-for-free {
    background-color: #4bce79;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

.hero > .main-section-text > .main-section-buttons > .bt-learn-more {
    background-color: black;
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* .inline-section-buttons {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
} */

.inline-section-buttons {
    display: flex;
    justify-content: center;
    width: 100%;                   
    align-items: center;
    margin-top: 0px;
}


.inlined-buttons {
    display: flex;
}

.inlined-buttons button {
    background-color: #26282d;
    color: #ffffff;
    border: 1px solid #444;
    cursor: pointer;
    font-size: 26px;
    font-weight: 600;
    padding: 12px 90px;
}
 

.inlined-buttons button + button {
    border-left: none; 

}