.header-wrapper {
    background-color: #020000;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-sizing: border-box;
}

.header-wrapper > .nav-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

 .header-wrapper > .nav-wrapper > .nav-left > img {
    height: 50px;
    width: 250px;
    margin: 0px 0px 0px 15px;
}


.header-wrapper > .nav-wrapper > .nav-center  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.header-wrapper > .nav-wrapper > .nav-center ul  {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: left;
    margin: 0;
    padding: 0;
}
.header-wrapper > .nav-wrapper > .nav-center ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 28px;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}


.header-wrapper > .nav-wrapper > .nav-center ul li a:hover {
    color: #eec751;
}

.header-wrapper > .nav-wrapper > .nav-center ul li:nth-child(5) a {
    color: #8a8a8a;
    font-weight: 600;
    margin-left: 20px;
}

.header-wrapper > .nav-wrapper > .nav-center ul li:nth-child(5) a i {
    color: white;
}

.header-wrapper > .nav-wrapper > .nav-center h2 {
    margin: 0;
    padding: inherit;
    font-size: 20px;
    color: #eec751;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.header-wrapper > .nav-wrapper > .nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}   

.header-wrapper > .nav-wrapper > .nav-right button {
    background-color: #36383f;
    font-family: "lucila grande", sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    border: none;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 3px;
    background-origin: padding-box;
    height: 60px;
    width: auto;
    padding: 0px 30px 0px 30px;
}
.header-wrapper > .nav-wrapper > .nav-right button i {
    margin-left: 5px;
    color: #4acd78;
    display: inline-block;
}

.header-wrapper > .nav-wrapper > .nav-right i {
    color: #7b7e8b;
    cursor: pointer;
    font-size: 40px;
   }